body {
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
  }
  
  .sidebar {
    grid-area: 1 / 1 / 1 / 1;
    background-color: #fcffcc;
    color: #333;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 5fr;
  }
  
  .sidebar-title {
    text-align: center;
  }
  
  .sidebar-nav {
    margin-top: 20px;
  }
  
  .top-nav,
  .bottom-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nav-item {
    margin: 10px 0;
  }
  
  .nav-item a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-item a:hover {
    color: #ab66ff;
  }
  
  .content {
    grid-area: 1 / 2 / 1 / 2;
    background-color: #fff;
    padding: 10px;
    display: grid;
    height: 100;
  }
  
  .content-top {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
  }
  
  .top-left {
    display: flex;
    align-items: center;
  }
  
  .searchbar input[type="text"] {
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #f2f2f2;
  }
  
  .welcome-message h1 {
    font-size: 2rem;
    margin-left: 20px;
  }
  
  .top-right {
    display: grid;
    align-items: center;
    justify-content: flex-end;
  }
  
  .profile h4 {
    margin-right: 20px;
    font-size: 1.2rem;
  }
  
  .post-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #fcffcc;
    color: #333;
  }

  
  .content-main {
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-area: 2 / 1 / 2 / 1;
  }
  
  .projects {
    grid-area: 1/1/1/1;
  }

  
  .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    overflow-y: auto;
    height: min-content;
  }
  
  @media screen and (min-width: 768px) {
    .project-list {
      grid-template-columns: repeat(4, 1fr);
    }
  
  .item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    transition: all 0.3s ease-in-out;
  }
  
  .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .item h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .item p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .annoucement-trending {
    display: grid;
    grid-area: 1/2/1/2;
    padding: 10px;
  }
  
  .anouncement h1,
  .trending-list h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .annoucement-list,
  .trending {
    display: grid;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .annoucement h6,
  .trending h6 {
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  .annoucement p,
  .trending p {
    font-size: 1rem;
  }